@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Stick+No+Bills:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*---------------------------------------Colours*/
.logo {
    color:#5f31af;
}
h2 {
    color: #5f31af;
}
menu a {
    color: #6a028c;
}

h3 {
    color: #6a028c;
}

p {
    color: #0832a6;
}

footer a {
    color: #5f31af;
}

/*--------------------------------headings/special padding/ text*/
#logo {
    float: left;
    font-size: 3rem;
    font-family:'Stick No Bills', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
#menu{
    font-size: 2em;;
    list-style-type: none;
    padding-top: 12px;
}

#menu li {
    float: right;
    margin-right: 30px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}
#menu a {
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #5f31af;
}

h3 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-size: 2em;
    padding: 50px;
}

.heading p{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    padding: 40px;
}

footer{
    height: 250px;
}

.social-network{
    text-align: center;

}

.social-network li{
    display: inline;
}

.social-network i{
    font-size: 3em;
    margin: 1%;
    padding: 5%;
    color: #5f31af;
}
/*----------------------------------------------------------------------------------------------card content*/
.about-heading {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 20px auto;
}
.card-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:  auto;
    font-size: 2em;
}
.grid-container {
    display: grid;
    grid: auto / auto auto; 
    width: 100%;
    padding: 10px auto;
   
}
/*--------------------------------------------------------------------------------------------------form*/
.form-section {
    clear: both;
    background: url("../img/banner5.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form{
    margin-top:150px;
    color: #5f31af;
    background-color: #ebe6ff;
    max-width: 400px;
    position: absolute;
    left: 15%;
    padding: 30px 40px;
    font-family: 'Comfortaa', sans-serif; 
    
}

.contact-form h2 {
    color: #5f31af;
    margin-bottom: 20px;
    background-color: #ebe6ff;
}

.text-input{
    color: #5f31af;
    font-size:  20px;
    width: 100%; 
    height: 25px;
    background-color: #ebe6ff;
    text-transform: capitalize;
} 
.box{
    border: 1px solid #482a83;
    border-radius: 5px;
    background-color: #ebe6ff;
    color: #6a028c;
    padding: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #482a83;
    border-radius: 5px;
    background-color: #ebe6ff;
    color: #6a028c;
}
.reset-button, .submit-button {
    margin-top: 09px;
    border-radius: 2px;
    padding: 3px 5px;
    text-align: center;
    font-size: 100%;
    background-color: #5f31af;
    color: #fafafa;
    display: inline-block;
}
.form-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  margin-top: 2em;
    font-size: 2em;
}

/*----------------------------------------------------------------------------------------------------------image*/


#hero-image{
    height:500px;
    width: 100%;
    background: url("../img/banner5.webp") no-repeat center center ;

    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(6);
    }
    to{
        transform: scale(1);
    }
}

#box-container{
        width: 300px;
        height: 300px;   
        background: url("../img/reasons.webp") no-repeat center center;
        border-style: solid;
        border-color: #5f31af;
        border-width: 1px;
        border-radius: 6px;
        margin: 0 auto;
    }
    
 .form-image {
    width: 300px;
    height: 300px; 
  
    background: url("../img/banner9.jpg") no-repeat center center;
    margin: 0 auto;
 }   
   
/*------------------------------------------------------------------------------------------------------media queries*/

@media (max-width: 943px) {
    
    #logo {
    float: left;
    font-size: 2rem;
    font-family:'Stick No Bills', sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
} 
    #menu {
    font-size: 0.9em;
    display: inline-block;
    font-weight: 800;
    padding-left: 2em
    }
     
    #hero-image{
        height:600px;
        width: 100%;
        background: url("../img/bannermobil.webp") no-repeat center center;
        animation-name: hero-zoom;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    #hero-outer{
        height:400px;
        width: 100%;
        padding-top: 3px;
       
    }
    @keyframes hero-zoom {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1.5);
        }
    }

h3 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-size: 2em;
    padding: 10px;
}

p{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    padding: 20px;
}

.heading h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 2em;
}
.grid-container {
    display: list-item;
    grid: auto / auto auto; 
    width: 100%;
}
  .form-section {
    clear: both;
    background: url("../img/banner5.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form{
    margin-top:75px;
    color: #5f31af;
    background-color:  #ebe6ff;
    max-width: 400px;
    position: absolute;
   right: 14%;
    padding: 15px 20px;
    font-family: 'Comfortaa', sans-serif; 
    
}

.contact-form h2 {
    color: #5f31af;
    margin-bottom: 16px;
    background-color: #ebe6ff;
}

.text-input{
    color: #5f31af;
    font-size:  15px;
    width: 100%; 
    height: 25px;
    background-color: #ebe6ff;
    text-transform: capitalize;
} 
.box{
    border: 1px solid #482a83;
    border-radius: 5px;
    background-color: #ebe6ff;
    color: #6a028c;
    padding: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #482a83;
    border-radius: 5px;
    background-color: #ebe6ff;
    color: #6a028c;
}
  .reset-button, .submit-button {
    margin-top: 09px;
    border-radius: 2px;
    padding: 3px 5px;
    text-align: center;
    font-size: 100%;
    background-color: #5f31af;
    color: #fafafa;
    display: inline-block;
   }
   .form-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    font-size: 2em;
}
footer {
    height: 136px;
    margin: auto;
    padding: 16px;
} 

  .social-network i{
        font-size: 25px;
        font-weight: bold;
        padding-top: 1em;
   }
}