@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Stick+No+Bills:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ebe6ff;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

/*---------------------------------------Colours*/
.logo {
    color:#5f31af;
}
h2 {
    color: #5f31af;
}
menu a {
    color: #6a028c;
}

h3 {
    color: #6a028c;
}

p {
    color: #0832a6;
}

footer a {
    color: #5f31af;
}

/*--------------------------------headings/special padding/ text*/
#logo {
    float: left;
    font-size: 2em;
    font-family:'Stick No Bills', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
#menu{
    font-size: 1.5em;;
    list-style-type: none;
    padding-top: 12px;
}

#menu li {
    float: right;
    margin-right: 30px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}
#menu a {
    text-decoration: none;
}

#menu a:hover{
    border-bottom: 1px solid #5f31af;
}

h3 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-size: 1.7em;
}

p{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3em;
}
.about-us h2{
    text-align: center;
    margin: 3rem;
    padding-top: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
}
.about-us p {
    text-align: center;
    margin: 7px 9px;
    font-weight: bold;
}

footer{
    height: 150px;
}

.social-network{
    text-align: center;

}

.social-network li{
    display: inline;
}

.social-network i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #5f31af;
}
/*----------------------------------------------------------------------------------------------card content*/
.card-heading h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3em;
}
.grid-container {
    display: grid;
    grid: auto / auto auto; 
    width: 100%;
    margin-top: 2em;
}
/*--------------------------------------------------------------------------------------------------form*/
.form-section {
    clear: both;
    background: url("../img/banner5.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form{
    margin-top:150px;
    color: #5f31af;
    background-color:  #e5d9fc;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    font-family: 'Comfortaa', sans-serif;
    
}

.contact-form h2 {
    color: #5f31af;
    margin-bottom: 20px;
    background-color:#e5d9fc;
}

.text-input{
    color: #5f31af;
    font-size: 155px;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #0832a6;
    border-radius: 5px;
    background-color: transparent ;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #0832a6;
    border-radius: 4px;
    background-color: #e5d9fc;
    
}
.reset-button, .submit-button {
    margin-top: 09px;
    border-radius: 2px;
    padding: 3px 5px;
    text-align: center;
    font-size: 100%;
    background-color: #5f31af;
    color: #fafafa;
    display: inline-block;
}

/*----------------------------------------------------------------------------------------------------------image*/
#hero-image{
    height:500px;
    width: 100vw;
    background: url("../img/banner5.webp") no-repeat center center ;

    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(6);
    }
    to{
        transform: scale(1);
    }
}

#box-container{
        width: 300px;
        height: 300px;   
        background: url("../img/reasons.webp") no-repeat center center;
        border-style: solid;
        border-color: #5f31af;
        border-width: 1px;
        border-radius: 6px;
        margin: 0 auto;
    }
    #box-container-locations{
        width: 500px;
        height: 500px;   
        background: url("../img/banner9.jpg") no-repeat center center;
        margin: 0 auto;
    }
    
    
   
/*------------------------------------------------------------------------------------------------------media queries*/

@media (max-width: 943px) {
    #menu {
    font-size: 0.8em;
    display: inline-block;
    font-weight: 800;
    right: 3em;
    }
     
    #hero-image{
        height:500px;
        width: 100vw;
        background: url("../img/bannermobil.webp") no-repeat center center;
        animation-name: hero-zoom;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    #hero-outer{
        height:500px;
        width: 100vw;
        overflow: hidden;
    }
    @keyframes hero-zoom {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }

  .about-us h2 {
    text-align: center;
    margin: 1em;
    padding-top: 1rem;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .about-us p{
    text-align: center;
    margin: 0.5em;
    font-weight: bold;
  }
  .contact-form{
    margin-top:50px;
    color: #5f31af;
    background-color:  #e5d9fc;
    max-width: 400px;
    position: absolute;
    right: 55px;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    
  }

  .contact-form h2 {
    color: #5f31af;
    margin-bottom: 20px;
    background-color:#e5d9fc;
  }

 .text-input{
    color: #5f31af;
    font-size: 155px;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0;
    border: 1px solid #0832a6;
    border-radius: 5px;
    background-color: transparent ;
  }
  textarea {
    width: 100%;
    height: 170px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #0832a6;
    border-radius: 4px;
    background-color: #e5d9fc;
    
  }
  .reset-button, .submit-button {
    margin-top: 09px;
    border-radius: 2px;
    padding: 3px 5px;
    text-align: center;
    font-size: 100%;
    background-color: #5f31af;
    color: #fafafa;
    display: inline-block;
   }
  .social-network i{
        font-size: 95%;
        font-weight: bold;
   }
}